cep_credentials.py
mquinteiro-8ef43ab73aee.json
*.log
nohup.out
process/
2022*
__pycache__/
enviados_*
Lecturas_*
telemedidas_20*
Lecturas_*.txt
lectu*.txt
Telemedidas.txt
2021*.txt
launch.json
*.pyc
credentials.py
BoardingPass.pdf
# mqa ignre
Lecturas_*.txt
telemedidas_*.txt
10*.xlsx
